body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               'Helvetica Neue', sans-serif;
  margin: auto;
  padding: 2ex 1em 8ex 1em;
  max-width: 48em;
  min-width: 45vw;
}

header {
  border-bottom: 1px solid silver;
}

h1, h2, h3, h4, h5, h6 {
  margin: 4ex auto;
  padding: 0;
}

h1 {
  font-size: 1.5em;
}

header h1 {
  margin: 1ex auto;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

main {
  margin: 5vh 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  max-width: 34em;
}

em {
  font-family: Iowan Old Style, Apple Garamond, Baskerville,
               Times New Roman, Droid Serif, Times, Source Serif Pro,
               serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

code {
  font-family: SFMono-Regular, Menlo, Monaco,
               Consolas, 'Liberation Mono', 
               'Courier New', monospace;
}
pre {
  overflow: auto;
}

pre code {
  background: #fafafa;
  border: 1px solid gray;
  display: inline-block;
  font-size: 0.8em;
  padding: 1ex 1em;
}

.query {
  border-bottom: 2px solid slateblue;
  display: inline-block;
  padding: 0.1ex 0.3em;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul li {
  margin: 1ex auto;
}

footer {
  border-top: 1px solid silver;
  padding-top: 2ex;
}
